/* Custom CSS */
h1 {
  text-align: center;
}
.grid {
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template:
    'header header' 100px
    'main aside' 1fr
    'footer footer' 100px
    / 1fr 200px;
}
.box1 {
  grid-area: header;
  background: dodgerblue;
}
.box2 {
  grid-area: main;
  background: salmon;
}
.box3 {
  grid-area: aside;
  background: lightgrey;
}
.box4 {
  grid-area: footer;
  background: forestgreen;
}
